.strikethru {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

p {
  cursor: pointer;
  user-select: none;
}

p:hover {
  color: red;
}

.todoItem * {
  display: inline-block;
  margin-right: 10px;
}
