ul {
  padding-left: 7px;
}

li {
  margin-right: 10px;
}

input {
  margin-right: 10px;
  border: 1px solid #C6C6C6;
  padding-left: 5px;
}

button {
  border: none;
  background-color: #DFDFDF;
  padding: 8px 9px 9px 9px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

input, button {
  height: 40px;
}

form {
  padding-top: 20px;
}

.strikethru {
  text-decoration: line-through;
  cursor: pointer;
}

p {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  height: auto;
  vertical-align: top;
  margin: 0px;
}

.fa:hover {
  opacity: 0.5;
}

.todoItem * {
  display: inline-block;
}

.fa {
  color: #bababa;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0px;
}

.fa-trash-o {
  position: relative;
  top: -2px;
}
